.searchBloch {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: var(--white);
    border-radius: 0 0 7px 7px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    margin: 0 0 38px;
}


@media all and (min-width: 1024px) {
    .searchBloch {
        order: 1;
        padding: 0;
        margin: 0 0 0 auto;
        background-color: transparent;
    }
}