.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 139px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    border-radius:  3px;
    margin-bottom: 35px;
}

.form_bottom {
    display: flex;
}

.input {
    padding: 16px;
    height: 89px;
    border: 1px solid #D9D9D9;
    border-radius: 3px 3px 0px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.input:focus-visible {
    border-color: #CC6633;
    outline: none;
}


.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    background: #E5E5E5;
    border-radius: 0px 0px 3px 3px;
}

.button {
    padding: 17px 50px;
    width: 220px;
    height: 50px;
    background: #CC6633;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 0px 0px 3px 0px;
}

.button:hover, 
.button:focus,
.button:active,
.button:focus-visible,
.button:target {
    border-radius: 3px;
    background-color: #cf6e3d;
    outline: none;
    transform: scale(1.05);
    transition: transform 0.03 ease-in-out;
}

.button:disabled {
    background-color: #e29067;
    transform: none;
}